.video-banner {
    text-align: center;
    max-width: 900px;
    margin: 24px auto;
}

.video-banner[data-embed-loaded='false']:not(.placeholder) {
    /* reserve an approximate space to avoid extensive layout shifts */
    aspect-ratio: 16 / 9;
}

.video-banner>div {
    display: flex;
    justify-content: center;
}

.video-banner video {
    max-width: 100%;
    width: 100%;
    display: block;
}

.video-banner .video-banner-wrapper {
    display: grid;
    gap: 16px;
}

.video-banner .video-banner-title p {
    margin: 0;
}

.video-banner .video-banner-placeholder {
    width: 100%;
    aspect-ratio: 16 / 9;
    position: relative;
}

.video-banner .video-banner-placeholder>* {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset: 0;
}

.video-banner[data-embed-loaded='true'] .video-banner-placeholder,
.video-banner[data-embed-loaded='false'] .video-banner-placeholder+* {
    visibility: hidden;
    height: 0;
    width: 0;
}

.video-banner .video-banner-placeholder picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-banner .video-banner-placeholder-play button {
    position: relative;
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    outline: 2px solid;
    padding: 0;
}

.video-banner .video-banner-placeholder-play button::before {
    content: '';
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 0;
    height: 24px;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 18px solid;
    top: 50%;
    left: calc(50% + 2px);
    transform: translate(-50%, -50%);
}

.video-banner .video-banner-placeholder-play button:focus,
.video-banner .video-banner-placeholder-play button:focus-visible {
    outline: 2px solid black;
    outline-offset: 2px;
    background-color: black;
}