.custom-charts {
	width: 415px;
	height: 343px;
	max-width: 100%;
	position: relative;
}

.custom-charts-container canvas {
	display: block;
	height: 100% !important;
	width: 100% !important;
}

.custom-charts-container .custom-charts-wrapper {
	display: flex;
	justify-content: flex-end;
}
