.life-expectancy-field {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.life-expectancy-field .life-expectancy-label {
    color: #414651;
    font-family: var(--font-family-font-family-body, Manrope);
    font-size: 14px;
    font-weight: 500;
    line-height: 18px
}

.life-expectancy-field .life-expectancy-input {
    border-radius: 0;
    border: 1px solid #D5D7DA;
    background: #FFF;
    padding: 10px 16px;
    color: #181D27;
    font-family: var(--font-family-font-family-body, Manrope);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.life-expectancy-field .life-expectancy-label .required-star{
color: #FA1432;
font-family: var(--font-family-font-family-body, Manrope);
font-size: 14px;
font-weight: 500;
line-height: 18px;
}

.age-inputs-row .field-group{
    width: 31.57%;
}