main .section:has(.calc-card)>.tab-list-wrapper {
    max-width: 100%;
    padding: 0 16px;
}

.section:has(.calc-card) .tab-list ul {
    margin: 0 auto;
    list-style: none;
    display: flex;
    border-radius: var(--radius-2xl, 32px);
    border: 1px solid var(--border-border-brand-blue-subtle, #D2DAE4);
    background: var(--background-bg-tertiary, #F5F5F5);
    margin-bottom: 20px;
    overflow: auto;
    scrollbar-width: none;
    padding: 0;
    max-width: max-content;
}

.section:has(.calc-card) .tab-list ul>li {
    display: flex;
}

.section:has(.calc-card) .tab-list ul li button {
    border: none;
    background: none;
    padding: 9px 12px;
    white-space: nowrap;
    color: var(--text-text-primary, #181D27);
    font-family: var(--font-family-font-family-body, Manrope);
    font-size: var(--font-size-body-2, 14px);
    font-weight: 500;
    line-height: var(--line-height-body-1, 18px);
}

.section:has(.calc-card) .tab-list ul li button[aria-selected='true'] {
    padding: 8px;
    border-radius: var(--radius-full, 999px);
    border: 1px solid #1E4679;
    background: linear-gradient(90deg, var(--decorative-blue-decorative-blue-500, rgb(46 144 250 / 30%)) 0%, var(--foreground-fg-white, rgb(255 255 255 / 30%)) 100%);
    color: var(--text-text-brand-blue, #1E4679);
    font-weight: 600;
}

/* .section:has(.calc-card) .tab-list .section.calc-card .block:not(.swiper) { */
.section.calc-card .block:not(.swiper) {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

/* .section:has(.calc-card) .tab-list .section.calc-card .block .card-calc { */
.section.calc-card .block .card-calc {
    display: flex;
    justify-content: space-between;
    gap: var(--spacing-3xl, 24px);
    flex-direction: column;
    padding: var(--spacing-xl, 16px) var(--spacing-lg, 12px);
    border-radius: var(--radius-md, 8px);
    border: 1px solid var(--border-border-brand-blue-subtle, #D2DAE4);
    background: var(--decorative-blue-decorative-blue-25, #F5FAFF);
    position: relative;
    min-height: 176px;

    /* flex: 1 0 0; */
    max-width: 48.781%;
    width: 100%;
}

/* .section:has(.calc-card) .tab-list .section.calc-card .block .card-inner-1 { */
.section.calc-card .block .card-inner-1 {
    width: 32px;
    height: 32px;
    padding: 4px;
}

/* .section:has(.calc-card) .tab-list .section.calc-card .block .card-inner-1 * { */
.section.calc-card .block .card-inner-1 * {
    width: 100%;
    height: 100%;
    display: flex;
}

/* .section:has(.calc-card) .tab-list .section.calc-card .block .card-inner-2 { */
.section.calc-card .block .card-inner-2 {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

/* .section:has(.calc-card) .tab-list .section.calc-card .block .card-inner-2 .card-child-1 { */
.section.calc-card .block .card-inner-2 .card-child-1 {
    margin: 0;
    color: var(--text-text-primary, #181D27);
    font-family: var(--font-family-font-family-body, Manrope);
    font-size: var(--font-size-body-1, 16px);
    font-weight: 600;
    line-height: var(--line-height-sub-heading-2, 20px);
}

/* .section:has(.calc-card) .tab-list .section.calc-card .block .card-inner-2 .card-child-2 { */
.section.calc-card .block .card-inner-2 .card-child-2 {
    margin: 0;
    color: var(--text-text-tertiary, #535862);
    font-family: var(--font-family-font-family-body, Manrope);
    font-size: var(--font-size-caption, 12px);
    font-weight: 500;
    line-height: var(--line-height-caption, 14px);
}

/* .section:has(.calc-card) .tab-list .section.calc-card .block .card-inner-2 .card-child-3 { */
.section.calc-card .block .card-inner-2 .card-child-3 {
    position: absolute;
    top: 20px;
    right: 12px;
    margin: 0;
    display: flex;
    width: 24px;
    height: 24px;
}

@media screen and (width < 769px) {
    .section.calc-card .block.swiper .swiper-wrapper {
        padding-bottom: 26px;
    }

    .section.calc-card .block.swiper .swiper-pagination {
        left: unset;
        top: unset;
        bottom: 0;
        right: 1px;
        width: max-content;
        display: flex;
        align-items: center;
        gap: var(--spacing-xs, 4px);
        height: 6px;
    }

    .section.calc-card .block.swiper .swiper-pagination-bullet {
        margin: 0;
        opacity: 1;
        width: 4px;
        height: 4px;
        border-radius: var(--radius-full, 999px);
        outline: 1px solid var(--foreground-fg-quaternary, #A4A7AE);
        background: transparent;
        display: flex;
        
        /* transition: width 0.2s ease; */
    }

    .section.calc-card .block.swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
        width: 32px;
        height: 6px;
        outline: none;
        border-radius: var(--radius-full, 999px);
        background: var(--gradient-red-button, linear-gradient(180deg, var(--decorative-red-decorative-red-800, #AF0E23) 0%, var(--decorative-red-decorative-red-400, #FB2C47) 100%));
    }
}

@media screen and (width >=768px) {
    main .section:has(.calc-card)>.tab-list-wrapper {
        max-width: 1132px;
        padding: 0 16px;
    }

    .section:has(.calc-card) .tab-list ul {
        margin-bottom: 28px;
        border-radius: var(--radius-full, 999px);
    }

    .section:has(.calc-card) .tab-list ul li button {
        padding: 13px 20px;
    }

    .section:has(.calc-card) .tab-list ul li button[aria-selected='true'] {
        padding: 12px 20px;
    }

    /* .section:has(.calc-card) .tab-list .section.calc-card .block { */
    .section.calc-card .block {
        justify-content: center;
        gap: 20px;
    }

    /* .section:has(.calc-card) .tab-list .section.calc-card .block .card-calc { */
    .section.calc-card .block .card-calc {
        border-radius: var(--radius-xl, 16px);
        padding: var(--spacing-xl, 16px);
        min-height: auto;
        max-width: 23.637%;
    }

    /* .section:has(.calc-card) .tab-list .section.calc-card .block .card-inner-1 { */
    .section.calc-card .block .card-inner-1 {
        width: 40px;
        height: 40px;
    }

    /* .section:has(.calc-card) .tab-list .section.calc-card .block .card-inner-2 { */
    .section.calc-card .block .card-inner-2 {
        gap: var(--spacing-md, 8px);
    }

    /* .section:has(.calc-card) .tab-list .section.calc-card .block .card-inner-2 .card-child-1 { */
    .section.calc-card .block .card-inner-2 .card-child-1 {
        font-size: var(--font-size-sub-heading-2, 18px);
        line-height: var(--line-height-sub-heading-2, 20px);
    }

    /* .section:has(.calc-card) .tab-list .section.calc-card .block .card-inner-2 .card-child-2 { */
    .section.calc-card .block .card-inner-2 .card-child-2 {
        font-size: var(--font-size-body-2, 14px);
        line-height: var(--line-height-body-1, 18px);
    }
}

@media screen and (768px <=width <=1000px) {
    /* .section:has(.calc-card) .tab-list .section.calc-card .block .card-calc { */
    .section.calc-card .block .card-calc {
        /* max-width: 30.637%; */
        max-width: 31.5%;
    }
}

@media screen and (1000px <=width <=1200px) {
    /* .section:has(.calc-card) .tab-list .section.calc-card .block .card-calc { */
    .section.calc-card .block .card-calc {
        max-width: 23.4%;
    }
}