.section.investment-team .team-card {
    background-color: blue;
    display: grid;
    /* grid-template-columns: repeat(3, minmax(0, 1fr)); */
    gap: 20px;
    position: relative;
    z-index: 1;
}

.section.investment-team .team-card .team-inner {
    border-radius: var(--radius-md, 8px);
    border: 1px solid var(--border-border-brand-blue-subtle, #D2DAE4);
    background: var(--background-bg-primary, #FFF);
    margin-top: 50px;
    padding: 0 14px 32px;
}

.section.investment-team .team-card .team-inner .team-child-1 {
    padding: 0 7px 11px;
    margin-top: -50px;
}

.section.investment-team .team-card .team-inner .team-child-2 {
    padding-top: 8px;
}

.section.investment-team .team-card .team-inner .team-child-2 .team-item-1 {
    color: var(--text-text-primary, #181D27);
    font-family: var(--font-family-font-family-body, Manrope);
    font-size: var(--font-size-body-1, 16px);
    line-height: var(--line-height-sub-heading-2, 20px);
    font-weight: 600;
    margin: 0 0 8px;
}

.section.investment-team .team-card .team-inner .team-child-2 .team-item-2 {
    color: var(--text-text-tertiary, #535862);
    font-family: var(--font-family-font-family-body, Manrope);
    font-size: var(--font-size-body-2, 14px);
    line-height: var(--line-height-body-1, 18px);
    font-weight: 500;
    margin: 0;
}

.section.investment-team .team-card .team-inner .team-child-2 .team-item-3 {
    margin: 0;
    position: absolute;
    top: 62px;
    right: 11px;
}

.section.investment-team .team-card .team-inner .team-child-2 .team-item-3,
.section.investment-team .team-card .team-inner .team-child-2 .team-item-3 * {
    width: 32px;
    height: 32px;
    display: flex;
}

.section.investment-team .team-card .team-inner .team-child-2 .team-item-3 .team-inneritem-2 {
    display: none;
}