@import url('./retirement-calculator.css');
@import url('./fields/dropdown-field/dropdown-field.css');

.calculator-main.retirement-calculator.section.calculators-container.result-summary-panel-container{
    margin-top: -83px;
    position: relative;
    z-index: 9;
}

.calculator-main {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
}

.calculator-main .calculators-wrapper {
    max-width: unset;
    padding: 0;
    margin: 0;
}

.calculator-main #retirement-ration,
.calculator-main #interest-rate {
  padding: 0;
  border: none;
}

@media (width >=899px) {
    .calculator-main.retirement-calculator.section.calculators-container.result-summary-panel-container{
        margin-top: -188px;
    }
    
    .calculator-main {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 50px;
        flex-direction: row;
        gap: 20px;
    }

    .calculator-main .calculators-wrapper {
        width: 57.55%;
    }
}