@import url('./fields/age-field/age-field.css');
@import url('./fields/monthly-expense-wave-slider/monthly-expense-wave-slider.css');
@import url('./fields/retirement-expense-ratio/retirement-expense-ratio.css');

.calculator-main .age-inputs-row .field-group:last-child {
    width: 47%;
}

@media (width >= 900px) {
    .calculator-main.fire-calculator .result-summary-with-canvas-wrapper {
      padding: 0;
         width: 40.64%;
    }

    .calculator-main.fire-calculator .age-inputs-row .field-group {
       width: 48.6%;
    }
    
}